<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gerenciador de Feedbacks</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header class="container">
        <partial name="./_MainMenuPartialPage.cshtml"/>
    </header>

    <main role="main" class="container">
        @RenderBody()
    </main>

    <footer class="container">
        <div class="footer">
            <p>
                &copy; 2023 - Guilherme Shibuya
            </p>
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>