<nav class="menu-bg">
    <ul class="menu">
        <li>
            <a asp-page="/Index">Home</a>
        </li>
        <li>
            <a asp-page="/Feedbacks/Index">Feedbacks</a>
        </li>
    </ul>
</nav>